@import url('https://fonts.googleapis.com/css2?family=Comic+Relief&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color:#F5ECE0;
}
#navBar{
    background-color: #3674B5;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
#logo{
    height: 6rem;
    
}
#lists{
    display: flex;
    list-style: none;
    color: #F5ECE0;
    gap: 4rem;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    cursor: pointer;
}
#listItems:hover{
    color: #a9a29a;

}
#mainSection{
    height:54.1rem ;
    background-color: red;

}
#footerbar{
    height: 25rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}
#footerContent1{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: #F5ECE0;
    list-style: none;
    

}
#footerContent2{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: #F5ECE0;
    list-style: none;
    

}
#footerContent3{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: #F5ECE0;
    list-style: none;

}
#locationSvg{
    height: 2rem;
}
#envelopSvg{
    height: 2rem;
}
#phoneSvg{
    height: 2rem;
}


