
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color:#F5ECE0;
}
#navBar{
    background-color: #3674B5;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
#logo{
    height: 6rem;
    
}
#lists{
    display: flex;
    list-style: none;
    color: #F5ECE0;
    gap: 4rem;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.2rem;
    cursor: pointer;
}
#listItems:hover{
    color: #a9a29a;

}
#mainSection{
    height:50rem ;
    background-color: #F5ECE0;
    display: flex;
    justify-content: center;
    align-items: start;

}
#footerbar{
    height: 18rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    
    
    

    gap: 2rem;
}
#footerContent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 3rem;
}
#footerContent0{
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1rem;
    color: #F5ECE0;
    margin-left: 5rem;
    
    list-style: none;

}
#footerContent1{
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1rem;
    color: #F5ECE0;
    list-style: none;
    
    
    

}
#footerContent2{
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1rem;
    color: #F5ECE0;
    list-style: none;
                                
    

}
#footerContent3{
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1rem;
    color: #F5ECE0;
    list-style: none;
    

}
#locationSvg{
    height: 1.5rem;
}
#envelopSvg{
    height: 1.5rem;
}
#phoneSvg{
    height: 1.5rem;
}
#List1Item1{
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
#List1Item{
    margin-bottom: 0.5rem;
}
#List2Item1{
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
#List2Item{
    margin-bottom: 0.5rem;
}
#List3Item1{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
#List3Item2{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;

}
#List3Item3{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 0.5rem;

}
#List3Item4{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 0.5rem;


}
#copyRight{
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: #969696;
    
}

#allitems{
    height: 40rem;
    background-color: #F5ECE0;
    list-style: none;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.2rem;

}
#listitems{
    height: 35rem;
    width: 24rem;
    color: black;
    border:none;
    /* display: flex;
    align-items: start;
    justify-content: center; */
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style:normal;
    font-size: 1.5rem;
    font-variation-settings:
    "wdth" 100;

}
#headingSec{
    background-color:#F5ECE0;
    height: 10rem;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: #969696;
    display: flex;
    align-items:center;
    justify-content: center;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

h3{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
}
#fireSvg{
    height: 2.3rem;

}
#boyImg{
    height: 35rem;
    width: 24rem;

}
#girlImg{
    height: 35rem;
    width: 24rem;

}
#newBornImg{
    height: 35rem;
    width: 24rem;

}
#premiumImg{
    height: 35rem;
    width: 24rem;

}
#premiumImg:hover{
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.519);
    transition: 0.3s ease;
}
#girlImg:hover{
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.519);
    transition: 0.3s ease;

}
#boyImg:hover{
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.519);
    transition: 0.3s ease;
}

#newBornImg:hover{
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.519);
    transition: 0.3s ease;
}

